<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <title>Уязвимое Демо приложение для DevSecOps</title>
</head>
<body bg-light>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-success navbar-dark .sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"  th:href="@{/}"><p class="h2">VulnApp 2023</p>
        </a>
        <ul class="navbar-nav">
            <li><a class="nav-link" th:href="@{/}">Домой</a></li>
            <li><a class="nav-link " th:href="@{/data}">Внести данные</a></li>
            <li><a class="nav-link active" th:href="@{/search}">Поиск</a></li>
            <li class="nav-item">
                <div class="form-check form-switch ms-auto mt-2 me-2">
                    <label class="form-check-label ms-3" for="lightSwitch">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                fill="currentColor"
                                class="bi bi-brightness-high"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                            />
                        </svg>
                    </label>
                    <input class="form-check-input" type="checkbox" id="lightSwitch" />
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2 align="center">Найти локацию по коду</h2>
    <form th:action="@{/search}" method="get">
        <input type="text" name="code" th:value="${code}"  placeholder="Укажите код" size="50" >
        <button type="submit" class="btn btn-success" >Search</button>
        <button type="submit" class="btn btn-warning" >Reset</button>
    </form>
    <table class="table table-bordered table-sm mt-2">
        <thead class="table-info">
        <tr>
            <th>Имя локации</th>
            <th>Код</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success" th:each="location : ${locations}" th:field="${location}">
<!--            Уязвимая конструкция utext-->
            <td th:utext="${location.coordinates}"></td>
            <td th:text="${location.code}"></td>
        </tr>
        </tbody>
    </table>
    <script src="/../static/js/switch.js" th:src="@{/js/switch.js}"></script>
</div>
</body>
</html>